.favhead {
	background-color: #907D6F;
	text-align: center;
}
.content {
	margin-top: 0.5%;
	background-color: #CAB2A1;
}
.makingincenter {
	text-align: center;
}
.adjust {
	height: 100%;
	width: 100%;
}
